<div class="h-70px w-full flex just-around ">
  <div class="w-full flex just-betw items-center">
    <div class="col-sm-8 col-6 ">
      <h2 class="">Listado de usuarios</h2>
    </div>
    <div class="col-sm-3 col-1 flex row items-center me-2 just-betw ">
      <div class=" col-7">
        <p>Aramays</p>
      </div>

     
      <div
        class="col-2 ms-2 flex just-center items-center "
      >
        <button 
          class="w-full flex items-center just-center text-center text-white button-icon-Primary"
        >
          <svg
            class="col-4 text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 16 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M11.5 8V4.5a3.5 3.5 0 1 0-7 0V8M8 12v3M2 8h12a1 1 0 0 1 1 1v9a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1Z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
