<section id="dialog-task">
  <div
    style="height: 50px; margin-bottom: 18px"
    class="flex just-betw items-center w-full border-b-2 bg-white"
  >
    <div class="flex just-betw items-center p-2 w-full">
      <span id="title-dialog">{{
        data?.params?.status === 'Completada' ? 'Detalles de la tarea' : data?.params?.status !== 'Completada'  ? "Editar tarea" : "Insertar tarea"
      }}</span>
      <button class="bg-white border-none text-black" style="cursor: pointer;" (click)="onClose()">
        <svg
          style="width: 15px"
          class="text-black font-semibold dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
          />
        </svg>
      </button>
    </div>
  </div>
  <form [formGroup]="taskForm" (ngSubmit)="onSave()">
    <div style="height: 380px" class="flex col items-center w-full just-around">
      <div class="flex row flex-wrap col-9">
        <div class="flex col w-full mr-3 ">
          <label id="label_task_name" for="task_name" class="mb-05 text-gray-900">
            Tarea*
          </label>
          <input
          [ngClass]="task_name?.invalid && ( task_name?.touched) ? 'errorinput' :'' "
            type="text"
            id="task_name"
            formControlName="task_name"
            placeholder="Nombre de la tarea"
            
          />
          <label *ngIf="task_name?.invalid && ( task_name?.touched)"
          class="errorinput">
           El nombre debe tener mas de 5 caracteres
        </label>
        </div>
      </div>
      <div class="flex row flex-wrap col-9">
        <div class="flex col w-full mr-3 ">
          <label
            id="label_descrip"
            for="productName"
            class="mb-05 text-gray-900 dark:text-white"
          >
            Descripción</label
          >
          <textarea
           rows="3"
            id="desc"
            formControlName="desc"            
            placeholder="Descripcion de la tarea"
            required
          ></textarea>
        </div>
      </div>
  
      @if (data?.params?.name && data?.params?.status !== "Completada") {
      <div class="flex row flex-wrap col-9">
        <div class="flex col w-full mr-3 gap-1">
          <label
            id="label_email"
            for="productName"
            class="text-gray-900 "
          >
            Estado</label
          >
          <select
            #selectStatus
            [disabled]="data?.params?.status === 'Completada'"
            (change)="onChangeSelectStatus($event)"
          >
            @for (item of status_options; track item) {
            <option [defaultSelected]="item.id === status" value="{{ item.id }}">{{ item.name }}</option>
            }
          </select>
        </div>
      </div>
  
      }
  
      <div class="flex row flex-wrap col-9">
        <div class="flex col w-full ">
          <label
            id="label_birth"
            for="productName"
            class="text-gray-900  w-full"
          >
            Fecha limite</label
          >
          
          <div class="flex row w-full ">
              
              <input  
               matInput  onkeydown="return false" formControlName="date"
                [matDatepicker]="picker">
              <mat-datepicker-toggle matIconSuffix [for]="picker">                
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </div>
        </div>
      </div>
  
      @if(authService.token.rol === 1){
        <div class="flex row flex-wrap col-9">
          <div class="flex col w-full ">
            <label
              id="label_birth"
              for="productName"
              class=" mb-05 text-gray-900 "
            >
              Asignar a usuario</label
            >
    
            <div class="flex col w-full just-betw">
              <select
                #selectStatus
                [disabled]="data?.params?.status === 'Completada'"
                class="w-full "
                [ngClass]="user_error ? 'errorinput' : ''"
                (change)="onChangeUser($event)"
              >
              <option value="-1">Usuarios</option>
                @for (item of userService.users_options; track item) {
                <option [defaultSelected]="item.id === user_assigned" value="{{ item.id }}">{{ item.name }}</option>
                }
              </select>
              <label *ngIf="user_error "
            class="errorinput">
             Debe asignar la tarea a un usuario
          </label>
            </div>
          </div>
        </div>
      }
     
      <div style="height: 60px" class="w-full flex items-center just-around gap-3">
        <button
          class="button-Secondary"
          (click)="onClose()"
        >
          Cancelar
        </button>
        <button
          class="button-Primary"
         
          type="submit"
        >
          Guardar
        </button>
      </div>
    </div>
  </form>
 
</section>
