<div class="row wv-full  h-vfull">
    <app-sidebar></app-sidebar>
  
    <div class="col-95 " style="width: calc(100% - 100px);">
      <app-header [title]="title"></app-header>
      <div class="col-10 row just-around items-center mt-2 ">
        <div class="col-3">
          <input
          (keyup)="onTypeSearch($event)"
            class="w-full"
            type="text"
            [placeholder]="searchPlaceholder"
          />
        </div>
        <div class="col-3">
          <select #selectStatus class=""  (change)="onChangeSelectStatus($event)">
            <option value="All">Estados</option>
            @for (item of status_options; track item) {
            <option value="{{ item.id }}">{{ item.name }}</option>
            }
          </select>
        </div>
        <div class="col-3 flex">
          @if (authService.token?.rol === 1) {
            <button class="button-Primary ms-auto" (click)="onHandleNew()">Insertar</button>
          }
        
        </div>
      </div>
  
      <app-table-ng
        [displayedColumns]="displayedColumns"
        [dataSource]="dataSource"
        (selectRow)="onSelect($event)"
      >
      </app-table-ng>
    </div>
  </div>
  

