<div class="row h-vfull">
    <app-sidebar></app-sidebar>
  
    <div class="col-10 col-sm-8 ms-auto ">
      <app-header [title]="title"></app-header>
      <div class="row w-full just-around items-center mt-2 ">
        <div class="col-3">
          <input
          (keyup)="onTypeSearch($event)"
            class="w-full"
            type="text"
            [placeholder]="searchPlaceholder"
          />
        </div>
        <div class="col-4">
          <select #selectStatus class=""  (change)="onChangeSelectStatus($event)">
            <option value="All">Estado</option>
            @for (item of status_options; track item) {
            <option value="{{ item.id }}">{{ item.name }}</option>
            }
          </select>
        </div>
        <div class="col-2">
          <button class="button-Primary" (click)="onHandleNew()">Insertar</button>
        </div>
      </div>
  
      <app-table-ng
        [displayedColumns]="displayedColumns"
        [dataSource]="dataSource"
        (selectRow)="onSelect($event)"
      >
      </app-table-ng>
    </div>
  </div>
  

