@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

table,
.mat-mdc-paginator {
  background-color: white;
}

th {
  color: #19191c;
  font-weight: 600;
  font-family: "Noto Sans", sans-serif;
}
thead,
.mat-mdc-header-cell {
  border-bottom: 2px solid #e4e4e4;
}
.mat-mdc-cell {
  color: #484b55;
  font-weight: 400;
  font-size: 16px;
  border: none;
}
tbody tr {
  border-bottom: 1px solid #e4e4e4;
}
